@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050505;
  color: #fff;
  font-family: 'Rajdhani', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00f3ff;
}

.glitch-text {
  text-shadow: 2px 2px 0px #ff0000, -2px -2px 0px #00f3ff;
  animation: glitch 1s infinite alternate-reverse;
}
